// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  border-radius: 15px;
  margin: 10px 0 10px 0;
  padding: 10px 10px 10px 20px;
  background-color: #F0F2F6;

  .commenter-name {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
  }
}