.navbar-main {
  height: 60px;
  width: 100%;
  color: #1c1e21;
  background-color: white;
  box-shadow: 0 1px 3px #6E8CCF;
  z-index: 1;
  position: fixed;
  border-bottom: 1px solid #6E8CCF;
}
    
    