.navbar-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  color: #1c1e21;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: fixed;
  border-bottom: 1px solid #dadada;
  
  .navbar-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;

    .navbar-search {
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-image: linear-gradient(#00AAFF, #0054EA);
        color: white;

        i {
          font-size: 24px;
        }
      }
    }

    .nav-middle-buttons {
      .active {
        cursor: pointer;
      }

      .active > i {
        color: #3578E5;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 8px;
        margin-top: 3px;
        height: 50px;
        width: 116px;
        position: relative;
        transition: 0.3s;
      }

      a i {
        // margin-top: 12px;
        font-size: 25px;
        color: #65676C
      }

      .bar-holder {
        position: relative;
        height: 60px;
      }

      .active + div {
        padding: 0 0 2px 0;
        border-bottom: 3px solid #3578E5;
        width: 100%;
        bottom: 0px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        position: absolute;
      }
      
      

      a[class="navlink"]:hover {
        background-color: #f2f2f2;
        cursor: pointer;
      }
    }

    .nav-right-buttons {
      display: flex;
      align-items: center;

      .profile-button {
        display: flex;
        align-items: center;
        border-radius: 50px;
        text-decoration: none;
        margin-right: 10px;
        transition: 0.3s;

        img {
          border-radius: 50%;
          object-fit: cover;
          height: 30px;
          width: 30px;
          margin-left: 5px;
          margin-right: 10px;
          margin-top: 5px;
          margin-bottom: 5px;
        }

        div {
          margin-right: 15px;
          color: black;
          font-weight: 600;
        }
      }

      .profile-button:hover {
          background-color: #f2f2f2;;
      }
      
      .active {
        background-color: #E5F3FF;
      }

      .active div {
        color: #3578E5;
      }

      .active:hover {
        background-color: #D9E7F2;
      }

      .dropdown {
        height: 40px;
        width: 40px;
        position: relative;

        .dropdown-button {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          height: 100%;
          width: 100%;
          border-radius: 50%;
          background-color: #E4E6EC;
          border: none;
          transition: 0.3s;
        }

        .dropdown-button:hover {
          background-color: #c6c8cd;
        } 

        .dropdown-button.clicked {
          color: #3578E5;
          background-color: #E5F3FF;
        }

        .dropdown-button.clicked:hover {
          background-color: #D9E7F2;
        }
        
        .dropdown-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          // height: 470px;
          width: 340px;
          padding: 6px 8px 6px 8px;
          background-color: white;
          border: 1px solid #f3f3f3;
          border-radius: 6px;
          box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
          z-index: 3;
          right: 8px;
          top: 46px;

          a {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 6px;
            text-decoration: none;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 6px;

            img {
              border-radius: 50%;
              object-fit: cover;
              height: 60px;
              width: 60px;
              margin-left: 8px;
            }

            div {
              margin-left: 5px;
            }

            .description {
              margin-top: 4px;
            }
          }
        
          .line {
            width: 98%;
            border-top: 1px lightgray solid;
          }

          .logout-button {
            display: flex;
            align-items: center;
            width: 100%;
            cursor: pointer;
            margin-top: 6px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 6px;

            div {
              color: #606770;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 20px;
              height: 36px;
              width: 36px;
              border-radius: 50%;
              background-color: #E4E6EC;
              margin-left: 8px;
            }

            span {
              font-size: 16px;
              margin-left: 8px;
              font-weight: 500;
            }
          }

        .logout-button:hover, a:hover {
          background-color: #F2F2F2;
        } 

        .name {
          color: black;
          font-weight: 600;
        }

        .description {
          color: gray;
          font-size: 14px;
        }

      }

        .hidden {
          display: none;
        }
      }
    }
  }
  
}
    
.navbar-buttons > div {
  width: 300px;
  display: flex;
  justify-content: center;
}

// SEARCHBAR

.searchbar {
    color: #6b6d71;
    height: 40px;
    background-color: #f0f2f5;
    border: none;
    border-radius: 50px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 0 10px;
    padding: 0 0 0 16px;
    width: 242px;
}