.profile-main {
  background-color: #edf0f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;

  .profile-top {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cp-container {
      margin-top: 60px;
      border-top: 1px #889bc1 solid;
      height: 348px;
      width: 100%;
      background-image: linear-gradient(#6E8CCF, #93A8D2,#b3c5e3,#CCD7EC, #EBEDF2,#FDFDFD, white);
    }

    .name-container {
      height: 83px;
      width: 100%;
      padding-bottom: 16px;
    }

    .line {
      width: 801px;
      border-top: lightgray solid 1px;
      margin-top: 0;
      margin-bottom: 0;
    }

    .mini-nav {
      height: 60px;
      width: 100%;

      border-bottom: 1px solid lightgray;
    }
  }

  .profile-middle {
    width: 801px;
    min-height: 40px;
    margin-top: 16px;
    padding-bottom: 16px;
    background-color: white;
  }
}

.demo-colors {
  color:  #ECF3FF;
  color:  #AAC9FF;
  color:  #77A7FF;
  color:  #1877F2;
  color:  #2851A3;
  color:  #1D3C78;
  color:  #E7F3FF;
  color:  #1877F2;
  color:  #444950;
}