.profile-main {
  background-color: #edf0f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;

  .profile-top {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cp-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 60px;
      border-top: 1px #889bc1 solid;
      height: 348px;
      width: 100%;
      background-image: linear-gradient(#6E8CCF , #93A8D2,#b3c5e3,#CCD7EC, #EBEDF2,#FDFDFD, white);
      position: relative;

      .cp {
        border-radius: 0px 0px max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 0px 0px 8px 8px;
        position: absolute;
        width: 940px;
        height: 350px;

        background-color: gray;

        img {
          border-radius: inherit;
          height: 100%;
          width: 100%;
        }
      }

      .pfp {
        border-radius: 50%;
        position: absolute;
        top: 190px;
        height: 176px;
        width: 176px;
        border: 4px solid #ffffff;
        z-index: 0;

        img {
          width: inherit;
          height: inherit;
          border-radius: inherit;
          object-fit: cover;
        }
      }
    }

    .name-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 83px;
      width: 100%;
      padding-bottom: 16px;

      h2 {
        margin-top: 36px;
        font-size: 32px;
        font-weight: 700;
      }
    }

    .line {
      width: 878px;
      border-top: lightgray solid 1px;
      margin-top: 0;
      margin-bottom: 0;
    }

    .mini-nav {
      height: 60px;
      width: 100%;
      display: flex;
      justify-content: center;

      border-bottom: 1px solid lightgray;
    }
  }

  .profile-middle {
    display: grid;
    padding-top: 15px;
    width: 878px;
    min-height: 400px;
    margin-bottom: 25px;
    
    .left-container {
      width: 362px;
      grid-row: 1;
      grid-column: 1;

      .about-container {
        width: 100%;
        width: 100%;
        border-radius: 8px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        background-color: white;
        border: 1px solid lightgray;
        margin-bottom: 16px;
        min-height: 150px;

      }

      .friends-container {
        width: 100%;
        width: 100%;
        border-radius: 8px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        background-color: white;
        border: 1px solid lightgray;
        min-height: 150px;
      }
    }

    .right-container {
      width: 500px;
      position: relative;
      left: 378px;
      grid-row: 1;
      grid-column: 1;

      .post-form-button-container {
        background-color: white;
        border-radius: 8px;
        display: flex;
        align-items: center;
        border: 1px solid lightgray;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

        .post-form-button {
          display: flex;
          align-items: center;
          height: 40px;
          width: 84%;
          cursor: pointer;
          background-color: #f0f2f5;
          transition: 0.3s;
          border: none;
          border-radius: 50px;
          font-family: sans-serif;

          &:hover {
            background-color: #e6e8eb;
          }
        }

        span {
          margin-left: 20px;
          color: #6b6d71;
          font-weight: 500;
        }
        
        img {
          border-radius: 50%;
          object-fit: cover;
          height: 40px;
          width: 40px;
          margin-left: 15px;
          margin-right: 10px;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
    } 
  }
}

.mini-nav-main {
  // position: relative;
  
  width: 878px;
}

.friend-button button {
  // position: absolute;
  // left: 828px;
  margin-top: 10px;
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  float: right;
  border: none;
  border-radius: 8px;
  background-color: #F0F2F6;
  transition: 0.3s;

  &:hover {
    background-color: #e1e3e7;
  }
}

.about-container {
  
  div {
    margin: 16px;
  }

  .about {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
  }

  .line {
    border-top: 1px solid lightgray; 
    margin: 5px 16px 10px 16px
  }
  .about-body {
    font-weight: 500;
    color: rgb(70, 70, 70);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 16px 16px 16px;
    span {
      font-style: oblique;
      font-weight: 500;
    }
}

}

.sticky {
  position: fixed;
  top: 80px;
}


.demo-colors {
  color:  #ECF3FF;
  color:  #AAC9FF;
  color:  #77A7FF;
  color:  #1877F2;
  color:  #2851A3;
  color:  #1D3C78;
  color:  #E7F3FF;
  color:  #1877F2;
  color:  #444950;
}